/* hide side bar */
._20bp > ._4_j5 {
	display: none !important;
}

/* default min width */
._4sp8 {
	min-width: 0 !important;
}

/* show setting icon */
._4kzu {
	display: block !important;
}

/* hide side bar info icon */
._fl2 > :last-child {
	display: none !important;
}

/* function buttons */
.hide-friend-list._4sp8 ._1enh {
	position: fixed;
	left: -3px;
}

/* disable function buttons bottom line */
.hide-friend-list._4sp8 ._36ic {
	border-bottom: none;
}

/* friend list */
.hide-friend-list._4sp8 ._2xhi {
	display: none;
}

.hide-friend-list ._5743 {
	transform: translateX(37px);
}

._53j5 {
	width: auto !important;
	height: auto !important;
}

/* video match window width */
video {
	width: 100% !important;
}

/* video message match window width */
._3058._15gf._3duc {
	width: 100% !important;
}

._2f5n._4br2._29ew._3dug.__6j._43kk > a[role="button"]{
	width: 100% !important;
}

/* hide message emotion */
._40fu ._5zvq {
	display: none;
}
